<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #d9d9d9;
        color: #f08d8d;
        font-size: 40px;
      }
      #header_nav {
        display: flex;
        justify-content: space-between;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="header_nav">
      <div>
        <img src="./images/sun.png" alt="sun" />
        <img src="./images/rainy.png" alt="rainy" />
      </div>
      <span style="flex: 1">Weather</span>
    </div>
    <p><%=content%></p>
  </body>
</html>
