<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reading Post</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <form id="form_adding_post" action="/submit" method="POST">
      <div id="container_add_post_name"><h1>Post name</h1></div>
      <div id="container_add_post_body">
        <p>Post body</p>
      </div>
    </form>
  </body>
</html>
